<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Zirper Servlet WebApp</display-name>

    <servlet>
        <servlet-name>Zirper Servlet</servlet-name>
        <servlet-class>ch.fhnw.webfr.sivakumm.zirper.web.ZirperServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Zirper Servlet</servlet-name>
        <url-pattern>/web/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>mode</param-name>
        <param-value>test</param-value>
    </context-param>

    <filter>
        <filter-name>Bootstrap Filter</filter-name>
        <filter-class>ch.fhnw.webfr.sivakumm.zirper.filter.BootstrapFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Bootstrap Filter</filter-name>
        <url-pattern>/web/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>ch.fhnw.webfr.sivakumm.zirper.listener.RepoInitializeListener</listener-class>
    </listener>
</web-app>