<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Twitter Servlet WebApp</display-name>

    <servlet>
        <servlet-name>Twitter Servlet</servlet-name>
        <servlet-class>ch.fhnw.webfr.sivakumm.twitter.web.TwitterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Twitter Servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Bootstrap Filter</filter-name>
        <filter-class>ch.fhnw.webfr.sivakumm.twitter.filter.BootstrapFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Bootstrap Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>