<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: maincontent(~{:: section})}">
<head></head>
<body>
    <section>
        <div class="container">
            <div class="card my-2 mx-auto" style="max-width: 800px" th:object="${zirp}">
                <div class="card-body">
                    <h5 class="card-title" th:text="'@' + *{username}">Fake user</h5>
                    <p class="card-text font-italic" th:text="*{zirp}">Fake zirp</p>
                    <a class="btn btn-primary my-1" th:href="@{/zirps} + '/' + *{id} + '?update'">Edit</a>
                    <form th:action="@{/zirps} + '/' + *{id}" method="POST" style="all: unset;">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button class="btn btn-danger my-1">Remove</button>
                    </form>
                    <footer class="blockquote-footer text-right">
                        <small th:text="*{#dates.format(date, 'dd.MM.yyyy HH:mm')}">Fake Date</small>
                    </footer>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{/zirps}">Go back to all Zirps</a>
            </div>
        </div>
    </section>
</body>
</html>