<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: maincontent(~{:: section})}">
<head></head>
<body>
    <section>
        <div class="container">
            <div class="card my-2 mx-auto" style="max-width: 800px" th:object="${zirp}">
                <div class="card-body form-group" th:object="${zirp}">
                    <form th:action="@{/zirps} + '/' + *{id}" method="POST">
                        <input type="hidden" name="_method" value="PUT" />
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">@</div>
                            </div>
                            <input class="form-control" name="username" type="text" th:field="*{username}" />
                        </div>
                        <textarea class="form-control my-1" name="zirp" type="text" th:field="*{zirp}"></textarea>
    
                        <button class="btn btn-primary my-1" type="submit">Save</button>
                    </form>
                    <footer class="blockquote-footer text-right">
                        <small th:text="*{#dates.format(date, 'dd.MM.yyyy HH:mm')}">Fake Date</small>
                    </footer>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{/zirps}">Go back to all Zirps</a>
            </div>
        </div>
    </section>
</body>
</html>