<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: maincontent(~{:: section})}">
<head></head>
<body>
    <section>
        <div class="container">
            <hr />
            <div class="card my-2 w-50" th:each="zirp : ${zirps}">
                <div class="card-body">
                    <h5 class="card-title" th:text="'@' + ${zirp.username}">Fake user</h5>
                    <p class="card-text font-italic" th:text="${zirp.zirp}">Fake zirp</p>
                    <a class="card-link" th:href="@{/zirps} + '/' + ${zirp.id}">Read more</a>
                    <blockquote>
                        <footer class="blockquote-footer text-right">
                            <small th:text="${#dates.format(zirp.date, 'dd.MM.yyyy HH:mm')}">Fake Date</small>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
</body>
</html>