<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: maincontent(~{:: section})}">
<head></head>
<body>
    <section>
        <div class="container">
            <div class="card">
                <form th:action="@{/zirps}" method="POST" th:object="${newZirp}">
                    <div class="card-header form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div>
                            <input class="form-control" name="username" type="text" placeholder="Username" th:field="*{username}" />
                        </div>
                    </div>
                    <div class="card-body form-group">
                        <textarea class="form-control" name="zirp" placeholder="share your thoughts..." th:field="*{zirp}"></textarea>
                    </div>
                    <div class="card-footer form-group" style="margin: 0;">
                        <button class="btn btn-success btn-block" type="submit">Zirp</button>
                    </div>
                </form>
            </div>
            <hr />
            <div class="card my-2 mx-auto" style="max-width: 800px;" th:each="zirp : ${zirps}">
                <div class="card-body">
                    <h5 class="card-title" th:text="'@' + ${zirp.username}">Fake user</h5>
                    <p class="card-text font-italic" th:text="${zirp.zirp}">Fake zirp</p>
                    <a class="card-link" th:href="@{/zirps} + '/' + ${zirp.id}">Read more</a>
                    <footer class="blockquote-footer text-right">
                        <small th:text="${#dates.format(zirp.date, 'dd.MM.yyyy HH:mm')}">Fake Date</small>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</body>
</html>