<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: maincontent(~{:: section})}">
<head></head>
<body>
    <section>
        <div class="container">
            <h3 th:text="'Zirps of @' + ${zirps[0].username}">Fake title</h3>
            <hr />
            <div class="card my-2 mx-auto" style="max-width: 800px;" th:each="zirp : ${zirps}">
                <div class="card-body">
                    <h5 class="card-title" th:text="'@' + ${zirp.username}">Fake user</h5>
                    <p class="card-text font-italic" th:text="${zirp.zirp}">Fake zirp</p>
                    <footer class="blockquote-footer text-right">
                        <small th:text="${#dates.format(zirp.date, 'dd.MM.yyyy HH:mm')}">Fake Date</small>
                    </footer>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{/zirps}">Go back to all Zirps</a>
            </div>
        </div>
    </section>
</body>
</html>